body{
    margin: 0;
    
}

.navbar{
   background-color: #000000;
   border: 1px solid white;

}

.navbar  .nav-link{
    text-decoration: none;
    font-size: 22px;
    padding: 0 18px;
    color: rgb(255, 255, 255);
    
font-family: 'Staatliches', cursive;   
    }
    

.cover{
    height: 400px;
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Anton', sans-serif;
}

.card{
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) ;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.card-img{
    
    height:200px;
    width:200px;
}

.card-title{
    min-height: 3rem;

}

.card-text{
    min-height: 4rem;
}

.form-control{
    width: 98%;
}

.food-stripe{
    overflow-x: scroll;
    padding: 1rem;
    padding-bottom: 1rem;

}


.stripe-container{
    display:flex;

}

.stripe-container .card{
    width: 250px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.resposive-iframe{
    position: relative;
    padding-top: 56.25%;
}

.resposive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Cervezas*/

.img-portada-cervezas {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/portada.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
}

.texto-portada-cervezas {
    color: white;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    padding-top: 150px;
    margin-left: 524px;
    width: 312px;
}

.contenedor-cerveza {
    margin: 10px;
    border: solid black;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.divTexto-cerveza {
    padding-left: 100px;
}

.divTexto-cerveza p {
    width: 600px;
}
.imagen-cervezaSmart {
    width: 400px;
    border: solid black;
}

/* RESPONSIVE MOBILE */

/*Celular*/

@media (max-width: 581px) {


   
    .navbar-brand{
       
        font-size: 22px;
        padding: 0 18px;
        color: rgb(255, 255, 255);
    }

    .smartTamanioImg {
        width: 406px;
    }

    .texto-portada-cervezas{
        font-size: 30px;
        line-height: 29px;
        padding-top: 225px;
        padding-left: 100px;
        margin: 0 0 50px;
    }


    .contenedor-cerveza {
        margin: 36px 0px 36px 0px;
    }
    .divTexto-cerveza p{
        width: 220px;
        font-size: 11px;
    }
    .imagen-smart{
        margin: 0 0 220px;
    }
    .imagen-cervezaSmart {
        width: 150px;
       
    }
    
    .scroll-top-btn {
        right: 10vw;
    }
}


/*Tablet*/

@media (max-width: 768px) {

    

    .smartTamanioImg {
        width: 768px;
    }

    .texto-portada-cervezas{
        font-size: 30px;
        line-height: 29px;
        padding-top: 225px;
        padding-left: 325px;
        margin: 0 0 50px;
    }


    .contenedor-cerveza {
        margin: 36px 0px 36px 0px;
    }
    .divTexto-cerveza p{
        width: 220px;
        font-size: 11px;
    }
    .imagen-smart{
        margin: 0 0 150px;
    }
    .imagen-cervezaSmart {
        width: 250px;
       
    }
    
    .scroll-top-btn {
        right: 10vw;
    }
}


/*Menu*/

.img-portada-menu {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/comprar.JPG);
    height: 500px;
    width: 100%;
    background-size: cover;
}

.texto-portada-menu {
    color: white;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    padding-top: 300px;
    margin-left: 524px;
    width: 312px;
}

.titleMenu{
    margin-left: 430px;
    padding: 30px;
}

.contenedor-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
    margin: 20px;
    border: solid black;
    background-color: orange;
    padding: 20px;
}

.imagen-menu {
    width: 400px;
    border: solid black;
}

.divTexto-menu {
    width: 535px;
}

.divTexto-menu p{
    font-size: 20px;
}

.btnMasInfo {
    width: 252px;
    height: 62px;
    color: #fff;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 29px;
    font-weight: bold;
    border: none;
}


/*Contenedor Equipo*/

.contenedor-equipo {
	background:#ccc;
	width:90%;
	max-width:1000px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

.imagen-equipo{
    width: 236px;
    height: auto ;
    
    align-items: center;
}

.main {
	background:#fff;
	padding:20px;

	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#ffffff;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	background: #ffffff;
	height:150px;
	margin:10px;
}



@media screen and (max-width: 800px) {
	.contenedor-equipo {
		flex-direction:column;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	
}
 


/* boton de scroll*/

.scroll-top-btn {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    
    background-color: orange;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.scroll-top-btn:hover {
    background-color: white;
    
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/*Contacto Whatsapp*/

#app-whatsapp{
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 60px;
    z-index: 1;
    font-size: 63px;
    color: green;

}

/* Footer*/

footer{
    position:relative;
    bottom: 0;   
    left: 0;
    right: 0;
    background-color: lightgrey;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.footer-content{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}

.socials{
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
   margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: black
}

.socials a.i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background-color: grey;
    width: 200vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
